@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
h1{
    font-family:'Courier New', Courier, monospace;
    color:#e1d1e9;
    font-size:45px;
    padding:20px;
}

body{
  width: 100vw;
  height: 100vh;
  background-image:url("jelly.jpg");
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,auto);
}

.box{
  width: 100px;
  height: 100px;
  border: 2px solid #eccc68;
  box-shadow: 0 0 0 2px #eccc68;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  font-size: 25px;
}

#status{
  padding: 20px;
  font-size: 25px;
  font-weight: 500;
}

button{
  width: 150px;
  height: 40px;
  font-size: 18px;
  color:white;
  background-color:rgb(83, 73, 223);
  border: none;
  border-radius: 3px;
}

.win{
    animation: winAnimation ease-in-out 1s infinite;
}

@keyframes winAnimation {
  0%{background-color: #502664;}
  100%{background-color: #130f40;}
  
}
